body {
    background-color: #ff4d4d;
}

h1 {
    color: #ffffff;
}

label {
    color: #ffffff;
}

#comicsContainer {
    padding-top: 25px;
}

.box-info {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    display: none;
    font-size: 20px;
}

.box-search {
    margin-bottom: 10px;
}

#descriptionContainer {
    padding-top: 10px;  
}
