@model IEnumerable<imHeroesSearch.Models.Character>
@{
    ViewBag.Title = "Desafio Marvel";
}

<div class="row">
    <!--Título-->
    <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-2">
        <h1>Desafio Marvel</h1>
    </div>
</div>
<div class="row"> <!--Form de busca e Info do herói-->
    <div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-2">
        <!--Form-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <label for="txtCharacter">Nome</label>
                <input type="text" class="form-control" id="txCharacter" placeholder="Selecione" />
            </div>
            @*<div class="col-xs-12 col-sm-12 col-md-7">
                    <button type="button" class="form-control" data-toggle="modal" data-target="#modalLetters">Por Letra</button>
                </div>*@
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-7">
        <!--Info heróis-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 text-right" id="thumbContainer">
                <!--Thumb herói-->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4" id="descriptionContainer">
                <!--Descrição herói-->

            </div>
        </div>
    </div>
</div>
<div class="row" id="comicsContainer"> <!-- Revistas -->

</div>

<div id="modalLetters" class="modal fade" role="dialog" tabindex="-1">
    <!--Modal de buscar por letra-->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Buscar por letra</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pagination-sm">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">A</a></li>
                                <li><a href="#">B</a></li>
                                <li><a href="#">C</a></li>
                                <li><a href="#">D</a></li>
                                <li><a href="#">E</a></li>
                                <li><a href="#">F</a></li>
                                <li><a href="#">G</a></li>
                                <li><a href="#">H</a></li>
                                <li><a href="#">I</a></li>
                                <li><a href="#">J</a></li>
                                <li><a href="#">K</a></li>
                                <li><a href="#">L</a></li>
                                <li><a href="#">M</a></li>
                                <li><a href="#">N</a></li>
                                <li><a href="#">O</a></li>
                                <li><a href="#">P</a></li>
                                <li><a href="#">Q</a></li>
                                <li><a href="#">R</a></li>
                                <li><a href="#">S</a></li>
                                <li><a href="#">T</a></li>
                                <li><a href="#">U</a></li>
                                <li><a href="#">V</a></li>
                                <li><a href="#">W</a></li>
                                <li><a href="#">X</a></li>
                                <li><a href="#">Y</a></li>
                                <li><a href="#">Z</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>Nome</tr>
                            </thead>
                            <tbody>
                                <tr>Captian America</tr>
                                <tr>Iron Man</tr>
                                <tr>Black Widow</tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#txCharacter').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCharacters", "Home")",
                    type: 'GET',
                    cache: false,
                    data: request,
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                value: item.Name,
                                id: item.Id,
                                thumb: item.ThumbnailURL,
                                description: item.Description
                            };
                        }));
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                $('#txCharacter').val(ui.item.label);
                $('#thumbContainer').html('<img src="' + ui.item.thumb + '" alt="' + ui.item.label + '" class="img-rounded">');
                $('#descriptionContainer').html('<p>' + ui.item.description + '</p>');
                GetComics(ui.item.id);
                return false;
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });
    });

    function GetComics(id) {
        $.ajax({
            url: "@Url.Action("GetComics", "Home")",
            type: 'GET',
            cache: false,
            data: { "id" : id },
            dataType: "json",
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    html += '  <div class="col-sm-6 col-md-2">' +
                            '    <div class="thumbnail">' +
                            '      <img src="' + data[i].Comic.ThumbnailURL + '" alt="' + data[i].Comic.Title + '">' +
                            '      <div class="caption">' +
                            '        <h3>' + data[i].Comic.Title + '</h3>' +
                            '        <p><a href="#" class="btn btn-primary" role="button">View description</a></p>' +
                            '      </div>' +
                            '    </div>' +
                            '  </div>';
                }

                $('#comicsContainer').html(html);
            }
        });
    }
</script>