@model IEnumerable<imHeroesSearch.Models.Character>
@{
    ViewBag.Title = "Desafio Marvel";
}

<div class="row">
    <!--Título-->
    <div class="col-xs-12 col-sm-8 col-md-6 col-md-offset-1">
        <h1>Desafio Marvel</h1>
    </div>
</div>
<div class="row"> <!--Form de busca e Info do herói-->
    <div class="col-xs-12 col-sm-12 col-md-3 col-md-offset-1">
        <!--Form-->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 box-search">
                <label for="txtCharacter">Nome</label>
                <input type="text" class="form-control" id="txCharacter" placeholder="Selecione" />
                <input type="hidden" id="hdHeroSelected"/>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-1">
        <!--Info heróis-->
        <div class="row box-info">
            <div class="col-xs-12 col-sm-12 col-md-5 text-center" id="thumbContainer">
                <!--Thumb herói-->
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7" id="descriptionContainer">
                <!--Descrição herói-->

            </div>
        </div>
    </div>
</div>
<div class="row" id="comicsContainer"> <!-- Revistas -->

</div>
<div class="row">
    <div class="col-sm-12 col-xs-12 col-md-12" style="display: none" id="pagerContainer">
        <nav>
            <ul class="pager">
                <li><a href="#" id="aPrev">Previous</a></li>
                <li><a href="#" id="aNext">Next</a></li>
            </ul>
        </nav>
        <input type="hidden" value="1" id="hdNumPage" />   
    </div>
</div>

<div id="modalComicDetail" class="modal fade" role="dialog" tabindex="-1">
    <!--Modal Detalhe Revista-->
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", "#aPrev", function (e) {
            e.preventDefault();
            var numPage = parseInt($('#hdNumPage').val());
            if (numPage > 1) {
                numPage--;
                $('#hdNumPage').val(numPage);
                GetComics($('#hdHeroSelected').val(), numPage);
            }
        });

        $(document).on("click", "#aNext", function (e) {
            e.preventDefault();
            var numPage = parseInt($('#hdNumPage').val());

            numPage++;

            $('#hdNumPage').val(numPage);
            GetComics($('#hdHeroSelected').val(), numPage);
        });

        $(document).on('click', '.btModalOpen', function () {
            var $this = $(this);
            GetComic($this.attr('data-id'));
        });

        $('#txCharacter').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("GetCharacters", "Home")",
                    type: 'GET',
                    cache: false,
                    data: request,
                    dataType: "json",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                value: item.Name,
                                id: item.Id,
                                thumb: item.ThumbnailURL,
                                description: item.Description
                            };
                        }));
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                var description = ui.item.description == "" ? "No description available." : ui.item.description;
                $('#txCharacter').val(ui.item.label);
                $('#thumbContainer').html('<img src="' + ui.item.thumb + '" alt="' + ui.item.label + '" class="img-rounded">');
                $('#descriptionContainer').html('<p>' + description + '</p>');
                $('#hdHeroSelected').val(ui.item.id);
                $('.box-info').show();
                GetComics(ui.item.id, $('#hdNumPage').val());
                return false;
            },
            open: function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            },
            close: function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            }
        });
    });

    function GetComics(id, numPage) {
        $.ajax({
            url: "@Url.Action("GetComics", "Home")",
            type: 'GET',
            cache: false,
            data: { "id" : id, "page" : numPage },
            dataType: "json",
            success: function (data) {
                var html = "";
                for (var i = 0; i < data.length; i++) {
                    var title = "";
                    if (data[i].Comic.Title.length > 35) {
                        title = data[i].Comic.Title.substring(0, 35).trim() + "...";
                    }
                    else {
                        title = data[i].Comic.Title;
                    }
                    html += '  <div class="col-sm-4 col-md-2 box-comic">' +
                            '    <div class="thumbnail">' +
                            '      <img src="' + data[i].Comic.ThumbnailURL + '" alt="' + data[i].Comic.Title + '">' +
                            '      <div class="caption">' +
                            '        <h4>' + title + '</h4>' +
                            '        <p><button type="button" href="#" class="btn btn-primary btModalOpen" role="button" data-toggle="modal" data-target="#modalComicDetail" data-id="' + data[i].Comic.Id + '">View description</button></p>' +
                            '      </div>' +
                            '    </div>' +
                            '  </div>';
                }

                $('#comicsContainer').html(html);

                //var maxHeight = "0px";
                //$('.box-comic .thumbnail').each(function () {
                //    $this = $(this);
                //    if ($this.css('height') > maxHeight) {
                //        maxHeight = $this.css('height');
                //    }
                //});

                //$('.box-comic .thumbnail').css('height', maxHeight);

                if (data.length > 0) {
                    $('#pagerContainer').show();
                }
                else {
                    $('#pagerContainer').hide();
                }
                
            }
        });
    }

    function GetComic(id) {
        $.ajax({
            url: "@Url.Action("GetComic", "Home")",
            type: 'GET',
            cache: false,
            data: { "id" : id },
            dataType: "json",
            success: function (data) {
                var description = data.Description == "" ? "Sorry. No description available." : data.Description;
                $('.modal-title').text(data.Title);
                $('.modal-body p').text(description);
            }
        });
    }
</script>